
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <h2>Index</h2>

    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Describe the page layout you see</h3>
                <p>The bootstrap page is similar to the Home Page of this program</p>
            </div>
            <div class="col-sm-4">
                <h3>Describe what happens as you resize the page</h3>
                <p>When I resize this bootstrap page, the page layout changes to compliment the look</p>
                <p>and feel of a smartphone or a tablet device</p>
            </div>
            <div class="col-sm-4">
                <h3>Describe what the CSS Classes are doing and what are their uses</h3>
                <p>The bootstrap.min.css changed the look and feel of the webpage's fonts</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Highlight a Segment of Text</h3>
                <p>Lorem ipsum dolor sit amet, consectetur <mark>adipiscing elit</mark>. Nulla dignissim scelerisque augue non sagittis. Suspendisse quis rhoncus ex. Duis at varius velit. Mauris lobortis augue justo, quis dapibus neque fringilla eget. Curabitur fermentum nec orci nec pharetra. Etiam mauris eros, ullamcorper in tincidunt et, dictum in nisi. Mauris quis metus sapien.</p>
            </div>
            <div class="col-sm-4">
                <h3>Conceptual Color representing Danger</h3>
                <p>Sed gravida mauris in quam lobortis, vel viverra dolor gravida.<span><p class="text-danger">Curabitur tristique dolor</p></span> non tortor mollis posuere. Proin facilisis nisi quis tortor fermentum, imperdiet blandit leo fermentum. Donec non aliquet sapien. Phasellus vehicula a nunc luctus lacinia.</p>
            </div>
            <div class="col-sm-4">
                <h3>Any other Typography...</h3>
                <p><kbd>This one</kbd> looks nice enough. <span>Ut scelerisque, ex sed pulvinar aliquet, dui tellus aliquet tortor, eu luctus tellus augue nec lacus.</span><pre>Nunc pharetra ornare tellus eget consectetur. Aenean euismod libero ante, non varius nunc vestibulum eu. Pellentesque eget mollis ipsum. Sed lobortis libero egestas, scelerisque arcu sit amet, pellentesque nisl. Ut ultrices eget ligula ut imperdiet. In malesuada justo tortor, eu posuere ante semper in.</pre></p>
            </div>
        </div>
    </div>



</body>
</html>
